

/* Put your custom styles here */

.imgLogo
{
}

.imgSplit1
{
    width: 100%;
    height: 100%;
}

.paddingAspectos
{
    padding-left: 48px;
}

.colorTextTitles
{
    color: #000000;
}

.titlesColor
{
    color: #ffffff;
    font-weight: 800;
    font-style: normal;
}

.subtitleColor
{
    color: #ffffff;
}

